<div id="create-sprint-content" class="hidden">
  <div class="max-w-3xl mx-auto">
    <h2 class="section-title">Создать новый спринт</h2>

    <div class="card">
      <div class="p-6">
        <div class="space-y-6">
          <div class="space-y-6">
            <div>
              <label for="sprint-name" class="form-label"
                >Название спринта</label
              >
              <input
                type="text"
                id="sprint-name"
                placeholder="Введите название спринта"
                class="form-input-no-pics"
              />
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div>
                <label for="start-date" class="form-label">Дата начала</label>
                <input type="date" id="start-date" class="form-input-no-pics" />
              </div>
              <div>
                <label for="end-date" class="form-label">Дата окончания</label>
                <input type="date" id="end-date" class="form-input-no-pics" />
              </div>
            </div>
          </div>

          <div>
            <label id="include-tasks-to-current-sprint" class="form-label">
              Задачи для включения в спринт
            </label>
            <div class="mt-2 space-y-2">
              <div id="include-tasks" class="task-list-placeholder"></div>
            </div>
          </div>
        </div>

        <div class="mt-8 flex justify-end space-x-3">
          <button id="cancel-button" type="button" class="secondary-button">
            Отмена
          </button>
          <button
            id="create-sprint-button"
            type="button"
            class="primary-button"
          >
            Создать спринт
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
