<div id="settings-content" class="hidden">
  <div class="max-w-4xl mx-auto">
    <h2 class="section-title">Настройки</h2>

    <div class="card">
      <div id="account-settings" class="p-6">
        <div class="space-y-6">
          <div class="flex items-center">
            <img
              id="user-photo"
              class="h-24 w-24 rounded-full object-cover user-photo"
              src=""
              alt="photo"
            />
            <div class="ml-4">
              <button id="upload-photo-btn" class="secondary-button">
                Изменить фото
              </button>
              <p class="mt-1 text-sm info-text">
                JPG, GIF или PNG. Максимум 2MB.
              </p>
              <input
                id="file-input"
                type="file"
                accept="image/*"
                class="hidden"
              />
            </div>
            <div class="ml-auto">
              <span id="user-role" class="role-badge">Пользователь</span>
            </div>
          </div>

          <div>
            <label for="first-name" class="form-label">Имя и фамилия</label>
            <input type="text" id="first-name" class="form-input-no-pics" />
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
              <label for="user-email" class="form-label"
                >Электронная почта</label
              >
              <input
                type="email"
                id="user-email"
                class="form-input-no-pics"
                disabled
              />
            </div>
            <div>
              <label for="password" class="form-label">Пароль</label>
              <input
                type="password"
                id="password"
                placeholder="Введите новый пароль"
                class="form-input-no-pics"
              />
            </div>
          </div>
        </div>

        <div class="mt-8 flex justify-end">
          <button id="user-save-data" type="button" class="primary-button">
            Сохранить изменения
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
