<div id="sidebar" class="sidebar compact flex flex-col">
  <div class="sidebar-header">
    <div class="flex items-center justify-between sidebar-border px-4 py-4">
      <div class="flex items-center">
        <button
          type="button"
          id="toggle-sidebar"
          class="flex items-center focus:outline-none"
        >
          <img
            src="/icons/rocket-solid.svg"
            alt="Иконка"
            class="w-7 h-7 mr-3"
            loading="lazy"
          />
          <span id="logo-text" class="text-xl font-bold text-logo">SSX</span>
        </button>
      </div>
    </div>
  </div>

  <div class="sidebar-nav flex-1 overflow-y-auto py-4">
    <nav>
      <div class="space-y-1 px-2">
        <a
          href="/current/sprint"
          id="current-sprint-link"
          class="create-sprint-btn active"
        >
          <img
            src="/icons/house-solid.svg"
            alt="Текущий спринт"
            class="nav-icon"
            loading="lazy"
          />
          <span id="get-sprint-btn">Текущий спринт</span>
        </a>

        <a href="/backlog" id="backlog-link" class="create-sprint-btn">
          <img
            src="/icons/list-solid.svg"
            alt="Бэклог задач"
            class="nav-icon"
            loading="lazy"
          />
          <span id="get-backlog-btn">Бэклог задач</span>
        </a>

        <div id="create-sprint-button-container" class="mt-4"></div>

        <a href="/history" id="history-sprint-link" class="create-sprint-btn">
          <img
            src="/icons/file-lines-solid.svg"
            alt="История спринтов"
            class="nav-icon"
            loading="lazy"
          />
          <span id="history-sprint-btn">История спринтов</span>
        </a>

        <a
          href="/team/settings"
          id="team-settings-link"
          class="create-sprint-btn"
        >
          <img
            src="/icons/address-card-solid.svg"
            alt="Команда"
            class="nav-icon"
            loading="lazy"
          />
          <span id="team-btn">Команда</span>
        </a>

        <a
          href="/account/settings"
          id="settings-link"
          class="create-sprint-btn"
        >
          <img
            src="/icons/gear-solid.svg"
            alt="Настройки"
            class="nav-icon"
            loading="lazy"
          />
          <span id="user-settings-btn">Настройки</span>
        </a>
      </div>
    </nav>
  </div>

  <div class="sidebar-footer px-4 py-4">
    <button type="button" id="logout-link" class="logout-button w-full">
      <img
        src="/icons/plug-circle-xmark-solid.svg"
        alt="Выйти"
        class="nav-icon"
        loading="lazy"
      />
      <span id="logout-btn">Выйти</span>
    </button>
  </div>
</div>
