<div id="sidebar" class="sidebar compact bg-indigo-800 text-white flex flex-col">
    <div class="p-4 flex items-center justify-between border-b border-indigo-700">
        <div class="flex items-center">
            <button id="toggle-sidebar" class="flex items-center text-white focus:outline-none">
                <img src="/icons/rocket-solid.svg" class="w-7 h-7 mr-3" loading="lazy">
                <span id="logo-text" class="text-xl font-bold">SSX</span>
            </button>
        </div>
    </div>

    <div class="flex-1 overflow-y-auto py-4">
        <nav>

            <div class="space-y-1 px-2">
                <a href="/current/sprint" id="current-sprint-link" class="flex items-center px-3 py-2 text-sm font-medium rounded-md bg-indigo-900 text-white">
                    <img src="/icons/house-solid.svg" alt="Текущий спринт" class="w-5 h-5 mr-3" loading="lazy">
                    <span id="get-sprint-btn">Текущий спринт</span>
                </a>

                <a href="/backlog" id="backlog-link" class="flex items-center px-3 py-2 text-sm font-medium rounded-md text-indigo-200 hover:bg-indigo-700 hover:text-white">
                    <img src="/icons/list-solid.svg" alt="Бэклог задач" class="w-5 h-5 mr-3" loading="lazy">
                    <span id="get-backlog-btn">Бэклог задач</span>
                </a>

                <div id="create-sprint-button-container" class="mt-4"></div>

                <a href="/history" id="history-sprint-link" class="flex items-center px-3 py-2 text-sm font-medium rounded-md text-indigo-200 hover:bg-indigo-700 hover:text-white">
                    <img src="/icons/file-lines-solid.svg" alt="История спринтов" class="w-5 h-5 mr-3" loading="lazy">
                    <span id="history-sprint-btn">История спринтов</span>
                </a>

                <a href="/account/settings" id="settings-link" class="flex items-center px-3 py-2 text-sm font-medium rounded-md text-indigo-200 hover:bg-indigo-700 hover:text-white">
                    <img src="/icons/gear-solid.svg" alt="Настройки" class="w-5 h-5 mr-3" loading="lazy">
                    <span id="user-settings-btn">Настройки</span>
                </a>
            </div>
        </nav>
    </div>

    <div class="p-4 border-t border-indigo-700">
        <button id="logout-link" class="w-full flex items-center justify-center px-4 py-2 text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none">
            <img src="/icons/plug-circle-xmark-solid.svg" class="w-5 h-5 mr-3" alt="Выйти" loading="lazy">
            <span id="logout-btn">Выйти</span>
        </button>
    </div>
</div>