<div id="current-sprint-content">
  <div class="flex justify-between items-center mb-6">
    <h2 class="section-title">Текущий спринт</h2>
    <div id="sprint-buttons-container" class="flex space-x-3"></div>
  </div>

  <div id="find-task-modal" class="hidden modal-overlay">
    <div class="modal-card">
      <h2 class="modal-title">Найти задачу в SimpleOne</h2>
      <div class="mb-4">
        <input
          type="text"
          id="task-search-input"
          class="form-input-no-pics"
          placeholder="Введите номер CHG"
        />
      </div>
      <div class="flex justify-center space-x-2 mt-8">
        <button type="button" id="close-modal" class="secondary-button">
          Отмена
        </button>
        <button type="button" id="find-external-task" class="primary-button">
          Найти
        </button>
      </div>
    </div>
  </div>

  <div id="edit-modal" class="hidden modal-overlay">
    <div id="modal-content" class="modal-card wide-modal">
      <div class="modal-header flex justify-between items-center w-full">
        <h2 id="edit-mode-subject" class="modal-title"></h2>
        <h2 id="edit-mode-number" class="modal-title text-right"></h2>
      </div>

      <div class="grid grid-cols-2 gap-x-8 gap-y-4">
        <div class="mb-4">
          <label for="modal-caller" class="form-label">Заявитель</label>
          <div class="relative">
            <div class="input-icon">
              <img
                src="/icons/user-tag-solid.svg"
                alt="Заявитель"
                class="icon"
                loading="lazy"
              />
            </div>
            <input type="text" id="modal-caller" class="form-input" readonly />
          </div>
        </div>

        <div class="mb-4">
          <label for="modal-priority" class="form-label">Приоритет</label>
          <div class="relative">
            <div class="input-icon">
              <img
                src="/icons/flag-solid.svg"
                alt="Заявитель"
                class="icon"
                loading="lazy"
              />
            </div>
            <input
              type="text"
              id="modal-priority"
              class="form-input"
              readonly
            />
          </div>
        </div>

        <div class="mb-4">
          <label for="modal-status" class="form-label">Статус задачи</label>
          <div class="relative">
            <div class="input-icon">
              <img
                src="/icons/chart-simple-solid.svg"
                alt="Статус задачи"
                class="icon"
                loading="lazy"
              />
            </div>
            <select
              id="modal-status"
              name="status"
              required
              class="form-select"
            >
              <option value=""></option>
              <option>Scheduled</option>
              <option>Waiting for validation</option>
              <option>Registered</option>
              <option>Delivered/Testing</option>
              <option>In Progress</option>
              <option>Done</option>
              <option>Cancelled</option>
              <option>Implemented</option>
            </select>
          </div>
        </div>

        <div class="mb-4">
          <label for="modal-responsible" class="form-label"
            >Ответственный</label
          >
          <div class="relative">
            <div class="input-icon">
              <img
                src="/icons/circle-user-solid.svg"
                alt="Ответственный"
                class="icon"
                loading="lazy"
              />
            </div>
            <select
              id="modal-responsible"
              name="responsible"
              class="form-select"
            >
              <option value=""></option>
              <option>Алеся Беседина</option>
              <option>Антон Стенищев</option>
              <option>Вячеслав Мозговой</option>
              <option>Дмитрий Кичигин</option>
              <option>Михаил Горбов</option>
              <option>Никита Колычев</option>
              <option>Сергей Черносмага</option>
              <option>Татьяна Чугунова</option>
            </select>
          </div>
        </div>

        <div class="mb-4">
          <label for="modal-comment" class="form-label">Комментарий</label>
          <div class="relative">
            <div class="input-icon">
              <img
                src="/icons/comment-solid.svg"
                alt="Комментарий"
                class="icon"
                loading="lazy"
              />
            </div>
            <input type="text" id="modal-comment" class="form-input" />
          </div>
        </div>

        <div class="mb-4">
          <label for="modal-story-points" class="form-label"
            >Story Points</label
          >
          <div class="relative">
            <div class="input-icon">
              <img
                src="/icons/ranking-star-solid.svg"
                alt="Story Points"
                class="icon"
                loading="lazy"
              />
            </div>
            <input type="text" id="modal-story-points" class="form-input" />
          </div>
        </div>
      </div>

      <div class="flex justify-center space-x-2 mt-8">
        <button type="button" id="cancel-edit" class="secondary-button">
          Отмена
        </button>
        <button type="button" id="delete-edit" class="danger-button">
          Удалить задачу
        </button>
        <button type="button" id="save-edit" class="success-button">
          Сохранить
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="p-6">
      <div class="mb-4 flex justify-between items-center">
        <div class="flex items-center gap-4">
          <h3 id="current-sprint-name" class="card-subtitle">Спринт</h3>
          <h3 id="sprint-name-dates" class="card-subtitle-secondary text-sm">
            Даты спринта
          </h3>
        </div>
        <span id="current-sprint-activity" class="">Active</span>
      </div>

      <div class="mb-6">
        <div class="flex justify-between mb-1">
          <span class="form-label">Прогресс спринта</span>
          <span id="sprint-percent-text" class="form-label">0%</span>
        </div>
        <div class="progress-bar">
          <div
            id="sprint-progress-bar"
            class="progress-fill"
            style="width: 0%"
          ></div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-4 mt-8">
          <div class="stat-card flex items-center justify-between">
            <h4 class="stat-card-title">Ответственный</h4>
            <div id="sprint-responsible-container" class="stat-card-value">
              —
            </div>
          </div>
          <div class="stat-card flex items-center justify-between">
            <h4 class="stat-card-title">Всего задач</h4>
            <div id="tasks-sum-container" class="stat-card-value">—</div>
          </div>
          <div class="stat-card flex items-center justify-between">
            <h4 class="stat-card-title">Оценка сложности</h4>
            <div id="story-points-sum-container" class="stat-card-value">—</div>
          </div>
          <div class="stat-card flex items-center justify-between">
            <h4 class="stat-card-title">Продолжительность спринта</h4>
            <div id="sprint-duration-container" class="stat-card-value">—</div>
          </div>
        </div>
      </div>

      <div id="task-table-body" class="table-container"></div>

      <div id="sprint-charts-container" class="chart-container-grid"></div>
    </div>
  </div>
</div>
