<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/auth.css" media="all" />
    <title>Подтверждение регистрации</title>
    <link rel="icon" href="/icons/rocket-solid-icon.svg" type="image/x-icon" />
  </head>
  <body class="min-h-screen flex items-center justify-center p-4 page-bg">
    <div class="w-full max-w-md">
      <div
        class="text-center mb-8 animate-fade-in"
        style="animation-delay: 0.1s"
      >
        <div class="mx-auto w-20 h-20 flex items-center justify-center mb-4">
          <img
            src="/icons/rocket-solid-icon.svg"
            alt="Иконка"
            class="w-17 h-17"
            loading="lazy"
          />
        </div>
        <h1 class="title-text">Последний этап</h1>
        <p class="description-text">
          Мы отправили ссылку для подтверждения регистрации, перейди по ней,
          чтоб подтвердить электронную почту
        </p>
      </div>

      <form class="form-card">
        <button
          onclick="window.location.href='/account/login'"
          type="submit"
          class="submit-button"
        >
          <span>На главную</span>
        </button>
      </form>

      <div class="mt-8 text-center footer-text">
        <p>© 2025 Sprint Scheduler X. Все права не защищены.</p>
      </div>
    </div>

    <div id="notification-container" class="notification-container"></div>

    <script src="/js/util/main.js"></script>
    <script src="../../config.js"></script>
  </body>
</html>
