<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/auth.css" media="all" />
    <title>Вход в систему</title>
    <link rel="icon" href="/icons/rocket-solid-icon.svg" type="image/x-icon" />
  </head>
  <body class="min-h-screen flex items-center justify-center p-4 page-bg">
    <div class="w-full max-w-md scaled-content">
      <div
        class="text-center mb-8 animate-fade-in"
        style="animation-delay: 0.1s"
      >
        <div class="mx-auto w-20 h-20 flex items-center justify-center mb-4">
          <img
            src="/icons/rocket-solid-icon.svg"
            alt="Иконка"
            class="w-17 h-17"
            loading="lazy"
          />
        </div>
        <h1 class="title-text">Добро пожаловать в SSX</h1>
      </div>

      <form class="form-card">
        <div class="mb-3">
          <label for="login-user-email" class="input-label"
            >Электронная почта</label
          >
          <div class="relative">
            <div class="input-icon">
              <img
                src="/icons/envelope-solid.svg"
                alt="Электронная почта"
                class="icon"
                loading="lazy"
              />
            </div>
            <input
              type="email"
              id="login-user-email"
              class="input-field"
              placeholder="your@email.com"
              required
            />
            <p id="login-email-error" class="input-error"></p>
          </div>
        </div>

        <div class="mb-3">
          <label for="login-user-password" class="input-label">Пароль</label>
          <div class="relative">
            <div class="input-icon">
              <img
                src="/icons/key-solid.svg"
                alt="Пароль"
                class="icon"
                loading="lazy"
              />
            </div>
            <input
              type="password"
              id="login-user-password"
              class="input-field"
              placeholder="••••••••"
              required
            />
            <p id="login-password-error" class="input-error"></p>
            <button
              type="button"
              class="toggle-password"
              id="login-toggle-password"
            ></button>
          </div>
        </div>

        <div class="flex items-center justify-between mb-3">
          <div class="flex items-center">
            <input
              id="remember-me"
              name="remember-me"
              type="checkbox"
              class="checkbox-input"
            />
            <label for="remember-me" class="checkbox-label"
              >Запомнить меня</label
            >
          </div>
          <div class="forgot-password-link">
            <a href="/password/reset/request">Забыл пароль?</a>
          </div>
        </div>

        <button id="login-sing-in" type="submit" class="submit-button">
          <span>Войти</span>
        </button>

        <div class="mt-6 text-center">
          <p class="register-link">
            Ещё нет аккаунта?
            <a href="/account/create">Зарегистрироваться</a>
          </p>
        </div>
      </form>

      <div class="mt-8 text-center footer-text">
        <p>© 2025 Sprint Scheduler X. Все права не защищены.</p>
      </div>
    </div>

    <div id="notification-container" class="notification-container"></div>

    <script src="/js/util/main.js"></script>
    <script src="../../config.js"></script>
    <script type="module" src="/js/auth/login.js"></script>
  </body>
</html>
