<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" media="all" />
    <title>Создание пароля</title>
    <link rel="icon" href="/icons/rocket-solid-icon.svg" type="image/x-icon" />
  </head>
  <body class="bg-gray-100 min-h-screen flex items-center justify-center p-4">
    <div class="w-full max-w-md">
      <div
        class="text-center mb-8 animate-fade-in"
        style="animation-delay: 0.1s"
      >
        <div class="mx-auto w-20 h-20 flex items-center justify-center mb-4">
          <img
            src="/icons/rocket-solid-icon.svg"
            alt="Иконка"
            class="w-17 h-17"
            loading="lazy"
          />
        </div>
        <h1 class="text-3xl font-bold text-gray-800 mb-2">
          Добро пожаловать в SSX
        </h1>
        <p class="text-sm text-gray-600">
          Это твой первый вход, поэтому необходимо задать пароль для аккаунта
        </p>
      </div>

      <form
        class="bg-white rounded-xl shadow-md p-8 animate-fade-in"
        style="animation-delay: 0.3s"
      >
        <div class="mb-3">
          <label
            for="set-user-password"
            class="block text-xs font-medium text-gray-700 mb-1"
            >Пароль</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
            >
              <img
                src="/icons/key-solid.svg"
                alt="Пароль"
                class="w-4 h-4 mr-2"
                loading="lazy"
              />
            </div>
            <input
              type="password"
              id="set-user-password"
              class="input-focus-effect pl-10 w-full px-4 py-2 rounded-lg border border-gray-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-200 transition duration-200"
              placeholder="••••••••"
              required
            />
            <p
              id="set-password-error"
              class="hidden mt-1 text-xs text-red-600"
            ></p>
            <button
              type="button"
              class="absolute right-3 top-3 text-gray-400 hover:text-indigo-600"
              id="toggle-set-password"
            >
              <img
                src="/icons/eye-solid.svg"
                alt="Скрыть пароль"
                class="w-4 h-4"
                id="eye-icon"
                loading="lazy"
              />
            </button>
          </div>
        </div>

        <button
          id="set-password"
          type="submit"
          class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-2 px-4 rounded-lg shadow-sm transition duration-200 flex items-center justify-center"
        >
          <span>Сохранить</span>
        </button>
      </form>

      <div
        class="mt-8 text-center text-xs text-gray-500 animate-fade-in"
        style="animation-delay: 0.5s"
      >
        <p>© 2025 Sprint Scheduler X. Все права не защищены.</p>
      </div>
    </div>
    <script src="/js/util/main.js"></script>
    <script src="../../config.js"></script>
    <script type="module" src="/js/auth/set-password.js"></script>
  </body>
</html>
